.ryde-div1 .inner{
    width: 70%;
    margin: auto;
}
.ryde-div1 .inner .img{
    display: block;
    text-align: center;
}
.ryde-div1 .inner p{
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    color: #3e3e52;
    margin-top: -5px;
}
.ryde-div1 .inner1{
    display: flex;
    width: 70%;
    margin: auto;
    
}
 #p-tag{
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 4px;
    color: #3e3e52;
}
.ryde-div1 .inner1 #div{
   display: flex;
   justify-content: space-between;
   height: 132px;
   width: 330px;
   margin: auto;
   gap: 20px;
}
.ryde-div1 .inner1 #div h3{
    color: #3e3e52;
margin-left: 5px;
}
.ryde-div1 .inner1 #div p{
    color: #828282;
    line-height: 20px;
    margin-left: 5px;
}
.ryde-div1 .inner1 #div:hover{
border: 2px solid #828282;
border-radius: 14px;
}

.ryde-div2 .inner #offers{
    margin-left: 230px;
    font-size: 16px;
    font-weight: 650;
    margin-top: 50px;
}
.ryde-div2 .inner #offers span{
    color: #1034d9;
    font-size: 14px;
    font-weight: 650;
}
.ryde-div2 .inner1{
    overflow-x: scroll;
}
.ryde-div2 .inner .inner1{
    width: 70%;
    margin: auto;
    display: flex;
    margin-top: 30px;
 overflow: auto hidden;
}
.ryde-div2 .inner #div1{
    width: 210px;
    height: 100px;
    line-height: 5px;
   border-radius: 10px;
background: linear-gradient(260.04deg, rgb(183, 248, 219) 0%, rgb(80, 167, 194) 100%);;
}
.ryde-div2 .inner #div2{
    width: 210px;
    height: 100px;
    line-height: 5px;
   border-radius: 10px;
   margin-left: 20px;
background: linear-gradient(247.67deg, rgb(255, 220, 171) -7.22%, rgb(206, 119, 0) 83.33%)
}
.ryde-div2 .inner #div3{
    width: 210px;
    height: 100px;
    line-height: 5px;
   border-radius: 10px;
   margin-left: 20px;
background: linear-gradient(80.04deg, rgb(77, 49, 176) 0%, rgb(229, 179, 179) 100%);
}

.ryde-div2 .inner #div4{
    width: 210px;
    height: 100px;
    line-height: 5px;
   border-radius: 10px;
   margin-left: 20px;
   margin-left: 20px;
background: linear-gradient(258.38deg, rgb(255, 134, 122) 2.88%, rgb(255, 129, 119) 2.88%, rgb(177, 42, 91) 103.25%);
}
.ryde-div2 .inner #div5{
    width: 210px;
    height: 100px;
    line-height: 5px;
   border-radius: 10px;
   margin-left: 20px;
background: linear-gradient(71.04deg, rgb(12, 57, 139) -6.92%, rgb(90, 110, 157) 109.43%);

}
.ryde-div2 .inner #div6{
    width: 210px;
    height: 100px;
    line-height: 5px;
   border-radius: 10px;
   margin-left: 20px;
background: linear-gradient(260.28deg, rgb(239, 89, 90) 1.92%, rgb(7, 48, 121) 101.82%);
}
.ryde-div2 .inner .p-tag{
    font-size: 13px;
    font-weight: 700;
    color: #ffffff;
    margin-left: 10px;
}
.ryde-div2 .inner .money{
    font-size: 28px;
    font-weight: 800;
    color: #ffffff;
    margin-left: 10px;
}
.ryde-div2 .inner  .details{
    font-size: 12px;
    font-weight: 500;
    color: #ffffff;
    margin-left: 10px;
}

.ryde-div3 .inner {
width: 70%;
margin: auto;
display: flex;
margin-top: 20px;
}
.ryde-div3 .inner p{
 font-size: 18px;
 font-weight: 700;

    }
    .ryde-div3 .inner1{
        width: 68%;
        margin: auto;
        display: flex;
        justify-content: space-between;
    }
    .ryde-div3 .inner1 div img{
        height: 242px;
        width: 178px;
        
    }




    /* <!-- vhicall you can book div --> */
    .ryde-div4{
        margin-top: 50px;
    }
    .ryde-div4 #p-tag1{
font-size: 18px;
font-weight: 750;
margin-left: 240px;
color: #3e3e52;
    }
.ryde-div4 .inner{
    width: 68%;
    margin: auto;
  display: flex;
  gap: 30px;
}
.ryde-div4 .inner #car{
height: 235px;
width: 220px;
border-radius: 8px;
    background:url(https://www.redbus.in/bushire/static/mwebv2/ryde/webhome/Group5.svg);
}
.ryde-div4 .inner #ford{
    height: 235px;
    width: 220px;
    border-radius: 8px;
    background: url(https://www.redbus.in/bushire/static/mwebv2/ryde/webhome/Group6.svg);
}

.ryde-div4 .inner #tempo{
    height: 235px;
    width: 220px;
    border-radius: 8px;
    background: url(https://www.redbus.in/bushire/static/mwebv2/ryde/webhome/Group7.svg);
}

.ryde-div4 .inner #ambu{
    height: 235px;
width: 220px;
border-radius: 8px;
    background: url(https://www.redbus.in/bushire/static/mwebv2/ryde/webhome/Group8.svg);
}

.ryde-div4 .inner p:nth-child(1){
    font-size: 16px;
    font-weight: 700;
    margin-left: 8px;
    color: #3e3e52;
}
.ryde-div4 .inner p:nth-child(2){
    font-size: 12px;
    line-height: 15px;
    margin-top: -10px;
    margin-left: 8px;
    color: #3e3e52;
}




/* <!-- coustumer review div --> */

.ryde-div5 .inner{
    width: 70%;
    margin: auto;
/* margin-top: 50px; */
display: grid;
grid-template-columns: repeat(4,1fr);
overflow-y: hidden;
gap: 20px;
}
.ryde-div5 .inner .p{
    width: 160px;
    justify-content: space-between;
    display: flex;
    margin-top: 10px;
}
.ryde-div5 .inner .p p:nth-child(1){
    width: 50px;
    height: 25px;
    background-color: #38b88c;
    color: #ffffff;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 600;
    
}
.ryde-div5 .inner .p p:nth-child(2){
    font-size: 14px;
    font-weight: 700;
    color: #3e3e52;
}
.ryde-div5 .inner .inn1{
    height: 188px;
    width: 283px;
    border: 1px solid rgb(212, 202, 202);
    border-radius: 10px;
   padding: 10px;
}
.ryde-div5 .inner p:nth-child(2){
    font-size: 12px;
    color: #828282;
    line-height: 20px;
}
.ryde-div5 .inner p:nth-child(3){
    font-size: 14px;
    color: #3e3e52;
    line-height: 20px;
}
.ryde-div5 #p{
    margin-left: 235px;
    font-size: 18px;
    font-weight: 650;
    color: #3e3e52;
    margin-top: 50px;
}